@font-face{
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --white: hsl(0, 0%, 100%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --font-family: 'Hanken Grotesk', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--white);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.results-container {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(217, 217, 255, 0.5);
    border-radius: 20px;
}

.your-result {
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    color: var(--white);
    padding: 35px 30px;
    border-radius: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.your-result h2 {
    margin-top: 0;
    color: var(--light-lavender);
    font-size: 18px;
    font-weight: 600;
}

.score-circle {
    background: linear-gradient(180deg, var(--violet-blue)  0%, var(--persian-blue) 100%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.score-circle p {
    margin: 0;
    font-size: 50px;
    font-weight: 800;
}

.score-circle span {
    font-size: 12px;
    color: var(--light-lavender);
}

h3{
    margin: 0;
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 500;
}

.description {
    font-size: 14px;
    margin-top: 10px;
    padding: 0px 25px;
    color: var(--light-lavender);
}

.summary {
    background-color: var(--white);
    padding: 35px 30px;
    border-radius: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.summary h2 {
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
}

.summary ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.summary li {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    /* border-bottom: 1px solid var(--light-lavender); */
    align-items: center;
    font-weight: 600;
    padding: 12px 10px;
    border-radius: 8px;
}

.perc-num{
    color: rgba(49, 58, 81, 0.5);
}

.perc-num span{
    color: rgba(49, 58, 81, 1) !important;
    display: inline-block !important;
}

.summary li span:first-child {
    display: flex;
    gap: 10px;
}

li.reaction {
    background-color: rgba(255, 51, 51, 0.1);
}

li.memory {
    background-color: rgba(255, 166, 51, 0.1);
}

li.verbal {
    background-color: rgba(0, 189, 120, 0.1);
}

li.visual {
    background-color: rgba(47, 57, 201, 0.1);
}

.reaction span:first-child {
    color: var(--light-red);
}

.memory span:first-child {
    color: var(--orangey-yellow);
}

.verbal span:first-child {
    color: var(--green-teal);
}

.visual span:first-child {
    color: var(--cobalt-blue);
}

.summary li span:first-child span{
    height: auto;
}

.continue-button {
    background-color: var(--dark-gray-blue);
    color: var(--white);
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--font-family);
}

.continue-button:hover {
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
}

@media only screen and (max-width:768px){
    .description {
        font-size: 2vw;
        margin-top: 1vw;
        padding: 0px 2vw;
    }

    h3 {
        margin: 0.6vw 0px;
        font-size: 2.8vw;
    }

    .your-result h2 {
        font-size: 2.5vw;
    }

    .summary h2 {
        margin-bottom: 3vw;
        font-size: 2.5vw;
    }

    .summary li {
        padding: 1.2vw 1.5vw;
    }

    .continue-button {
        padding: 1vw 2vw;
        font-size: 2.2vw;
        margin-top: 4.5vw;
    }

    .score-circle {
        width: 20vw;
        height: 20vw;
        margin: 1vw 0;
    }
}

@media only screen and (max-width:500px){
    body{
        padding: 0;
        display: block;
    }

    .results-container {
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }
    
    .your-result {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .continue-button {
        padding: 3vw 2vw;
        font-size: 5vw;
        margin-top: 5vw;
    }

    .your-result h2, .summary h2 {
        font-size: 4vw;
    }

    .your-result, .summary {
        padding: 20px 25px;
    }

    .summary li {
        padding: 3vw;
    }

    .score-circle {
        width: 30vw;
        height: 30vw;
        margin: 1vw 0;
    }

    .score-circle p {
        font-size: 12vw;
    }

    h3 {
        font-size: 5vw;
    }

    .description {
        font-size: 4vw;
        padding: 0px 7vw;
    }
}