:root {
    --FontRedHatDisplay: "Red Hat Display", sans-serif;
    --FontSize: 16px;
    --PaleBlue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--FontRedHatDisplay);
    font-size: var(--FontSize);
    background-color: var(--PaleBlue);
    width: 100%;
}

img{
    width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2,p{
    margin: 0;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--FontRedHatDisplay);
}

section{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='437'%3E%3Cpath fill='%23D6E1FF' fill-rule='evenodd' d='M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 45%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderSummaryCard{
    max-width: 437px;
    margin: auto;
    background-color: var(--Verypaleblue);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.cardImg {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.cardImg img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.summarySec{
    padding: 3em;
    box-sizing: border-box;
}

.summaryTitle h2{
    font-size: 2em;
    font-weight: 900;
    color: var(--Darkblue);
}

.summaryPara p{
    font-size: 1em;
    color: var(--Desaturatedblue);
    margin: 1em 0;
    line-height: 1.5em;
}

.plan-sec{
    display: flex;
    align-items: center;
    gap: 1em;
}

.plan-sec{
    padding: 1em;
    background-color: hsla(225, 100%, 94%, 0.345);
    border-radius: 10px;
}

.plan-sec .plan{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.planType{
    color: var(--Darkblue);
    font-size: 1em;
    font-weight: 900;
}

.planPrice{
    color: var(--Desaturatedblue);
    font-size: 1em;
}

.changePlan{
    margin-left: auto;
}

.changePlan a{
    color: var(--Brightblue);
    font-size: 1em;
    font-weight: 600;
}

.changePlan a:hover{
    cursor: pointer;
    color: hsla(245, 75%, 52%, 0.6);
    text-decoration: none;
}

.proceedPayment-btn button{
    width: 100%;
    color: var(--Verypaleblue);
    background-color: var(--Brightblue);
    border-radius: 10px;
    padding: 0.8em;
    font-size: 1em;
    font-weight: 900;
    margin: 2em 0;
    box-shadow: 0px 15px 10px var(--PaleBlue);
}

.proceedPayment-btn button:hover{
    background-color: hsla(245, 75%, 52%, 0.6);
    cursor: pointer;
}

.cancelOrder-btn button{
    color: var(--Desaturatedblue);
    font-size: 1em;
    font-weight: 900;
}

.cancelOrder-btn button:hover{
    color: var(--Darkblue);
    cursor: pointer;
}

.attribution {
    font-size: 1em;
    text-align: center;
}

.attribution a {
    color: var(--Brightblue);
    font-weight: 900;
}

.attribution a:hover{
    color: var(--Darkblue);
    text-decoration: none;
}

@media only screen and (max-width:768px){
    body{
        font-size: 14px;
    }

    .orderSummaryCard{
        width: 65%;
    }
}

@media only screen and (max-width: 500px){
    body{
        font-size: 12px;
    }

    .orderSummaryCard{
        width: 75%;
    }
}

@media only screen and (max-width: 425px){
    body{
        font-size: 14px;        
    }

    section{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='375' height='194'%3E%3Cpath fill='%23D6E1FF' fill-rule='evenodd' d='M-131.808 155.366c97.026 51.512 204.233 51.512 321.62 0 117.388-51.512 223.27-51.512 317.648 0V0h-639.268v155.366z'/%3E%3C/svg%3E");
        background-size: 100% 25%;
        padding: 0.1em 0;
    }

    .summarySec {
        padding: 2.5em;
    }

    .orderSummaryCard{
        width: 90%;
    }
}

@media only screen and (max-width: 375px) {
    .summarySec {
        padding: 2em;
    }
}

@media only screen and (max-width: 320px){
    body{
        font-size: 12px;
    }
}

